body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf1cf;
}

.header {
    background-color: #5daa68;
    color: #ffffff;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo a {
    color: #faf1cf;
    text-decoration: none;
    font-size: 24px;
}

.header .navigation nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
}

.header .navigation nav a:hover {
    text-decoration: underline;
}

.main-section {
    padding: 20px;
}

.products {
    text-align: center;
}

.products h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #3f6844;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #3f6844;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    color: #3f6844;
    margin: 10px 0;
}

.product button {
    background-color: #5daa68;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #4a9c57;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #5daa68;
    color: #ffffff;
    position: relative;
    bottom: -175px;
    width: 100%;
}
